body {
  max-width: 1440px;
  margin: auto;
  background: #100e1d;
}

* {
  font-family: "myFont", "Raleway", Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
  padding: 0;
}

.loading {
  color: #e7e7eb;
}

@media (min-width: 1000px) {
  .container {
    display: flex;
    /* align-items: center; */
  }
}
