body {
    font-family: 'Raleway';
    margin: auto;
    background: #1E213A;
}



img {
    width: 100%;
}

a {
    font-family: 'Raleway';
    text-decoration: none;
    color: unset;
}

.loading {
    color: #E7E7EB;
}