.search-form-wrapper {
  background: #1e213a;
  position: fixed;
  top: 0;
  width: 95%;
  height: 100vh;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 18px;
}

.search-form-wrapper,
.search-result-list {
  flex-direction: column;
}

.search-field,
.search-value {
  background-color: transparent;
}

.search-button,
.search-value,
.search-field {
  color: #e7e7eb;
}

.search-field {
  border: 1px solid #e7e7eb;
  width: 100%;
}

.search-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background: #3c47e9;
  border: none;
}

.search-field,
.search-button {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.search-form,
.search-result-list,
.search-value:hover,
.search-form-wrapper,
.convertButton {
  display: flex;
}

.search-form,
.search-value:hover {
  justify-content: space-between;
}

.search-form {
  padding-top: 45px;
  padding-bottom: 58px;
  gap: 12px;
}

.search-result-list {
  gap: 12px;
}

.search-value {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  line-height: 19px;
  border: 1px solid transparent;
}

.right-icon {
  display: none;
}

.search-value:hover .right-icon {
  display: block;
}

.search-value:hover .right-icon,
.right-icon,
.search-value,
.search-value:hover {
  transition: all ease-in 0.2s;
}

.search-value:hover {
  flex-direction: row;
  border: 1px solid #616475;
  align-items: center;
}

.right-icon {
  max-width: 19px;
}

.close-icon {
  max-width: 40px;
  align-self: flex-end;
  cursor: pointer;
}

.convertButton {
  gap: 12px;
  display: none;
}

.toCelcius {
  color: #110e3c;
  background: #e7e7eb;
}

.toFarenheit {
  color: #e7e7eb;
  background: #585676;
}

.toFarenheit,
.toCelcius {
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 10px;
}
