.highlight {
  background: #100e1d;
  padding-right: 24px;
  padding-left: 24px;
}

.highlight-title {
  line-height: 28px;
}

.unit,
.highlight-title {
  font-size: 24px;
}

.unit {
  font-weight: 400;
}

.highlight-title,
.status-value {
  font-weight: bold;
}

.compass,
.highlight-list {
  display: flex;
}

.highlight-list {
  flex-direction: column;
  margin-top: 32px;
  gap: 16px;
}

.highlight-list-item {
  background: #1e213a;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.highlight-title,
.highlight-list-item {
  color: #e7e7eb;
}

.status-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.status-value {
  font-size: 64px;
  line-height: 75px;
}

.compass {
  align-items: center;
  place-content: center;
  gap: 8px;
}

.compass-icon {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  max-width: 12px;
  padding: 4px;
}

/* Progress bar */
.possible-value {
  display: flex;
  justify-content: space-between;
}

.progress-container {
  font-size: 12px;
  line-height: 14px;
  text-align: end;
  color: #a09fb1;
  max-width: 229px;
  margin: auto;
}

.progress-unit {
  text-align: right;
}

.bar-container {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.base-bar {
  background: #e7e7eb;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.bar-visible {
  background-color: #ffec65;
  border-radius: 50px;
}

.bar-container,
.base-bar,
.bar-visible {
  height: 8px;
}

/* Compass rotation */
.compass-N {
  transform: rotate(0deg);
}

.compass-NNE {
  transform: rotate(22deg);
}

.compass-NE {
  transform: rotate(45deg);
}

.compass-ENE {
  transform: rotate(67deg);
}

.compass-E {
  transform: rotate(90deg);
}

.compass-ESE {
  transform: rotate(120deg);
}

.compass-SE {
  transform: rotate(135deg);
}

.compass-SSE {
  transform: rotate(157deg);
}

.compass-S {
  transform: rotate(180deg);
}

.compass-SSW {
  transform: rotate(202deg);
}

.compass-SW {
  transform: rotate(225deg);
}

.compass-WSW {
  transform: rotate(247deg);
}

.compass-W {
  transform: rotate(270deg);
}

.compass-WNW {
  transform: rotate(292deg);
}

.compass-NW {
  transform: rotate(315deg);
}

.compass-NNW {
  transform: rotate(337deg);
}

/* @media(min-width: 300px) {
  .highlight {
    padding-right: 24px;
    padding-left: 24px;
  }

  .unit,
  .highlight-title {
    font-size: 24px;
  }
  
  .highlight-list {
    gap: 16px;
  }
  
  .highlight-list-item {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .status-name {
    font-size: 16px;
  }
  
  .status-value {
    font-size: 64px;
  }
  
  .compass {
    gap: 12px;
  }
  
  .compass-icon {
    max-width: 12px;
    padding: 4px;
  }
} */
