.today {
  text-align: center;
  background: #1e213a;
}

.today-wrapper {
  background: linear-gradient(rgba(30, 33, 58, 0.5),rgba(30, 33, 58, 0.5)), url("../icons/Cloud-background.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: auto;
  padding-top: calc(76px / 2);
  padding-bottom: calc(105px / 2);
}

.today-degree {
  color: #e7e7eb;
  font-style: normal;
  font-weight: 500;
  font-size: calc(144px - 44px);
}

.today-weather-state,
.today-degree-sign {
  color: #a09fb1;
}

.today-degree-sign {
  font-weight: bold;
  font-size: calc(64px - 22px);
  line-height: 75px;
}

.today-weather-state {
  font-weight: 600;
  font-size: calc(36px - 4px);
  line-height: 42px;
}

.today-date,
.location {
  font-weight: 600;
  font-size: calc(18px - 4px);
  line-height: 21px;
  color: #88869d;
}

.today-icon {
  max-width: 150px;
}

.search-toggle {
  background: #6e707a;
  border: none;
  font-weight: 500;
  font-size: calc(16px - 4px);
  line-height: 19px;
  color: #e7e7eb;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 18px;
  padding-left: 18px;
}

.wrapper {
  background: #1e213a;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(11px / 2);
  padding-right: calc(11px / 2);
  padding-top: calc(18px / 2);
  gap: calc(16px / 2);
  flex-wrap: wrap;
}

.location-icon,
.search-toggle {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.location-icon {
  max-width: calc(22px / 2);
  max-height: calc(22px / 2);
  padding: calc(9px / 2);
  background: #6e707a;
  border-radius: 50%;
}

.place-icon {
  max-width: calc(14px / 2);
}

@media (min-width: 300px) {
  .today-wrapper {
    padding-top: 76px;
    padding-bottom: 105px;
  }

  .today-degree {
    font-size: 144px;
  }

  .today-weather-state,
  .today-degree-sign {
    color: #a09fb1;
  }

  .today-degree-sign {
    font-size: 64px;
  }

  .today-weather-state {
    font-size: 36px;
  }

  .today-date,
  .location {
    font-size: 18px;
  }

  .search-toggle {
    font-size: 16px;
  }

  .search-wrapper {
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 18px;
    gap: 16px;
  }

  .location-icon {
    max-width: 22px;
    max-height: 22px;
    padding: 9px;
  }

  .place-icon {
    max-width: 14px;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    width: 459px;
  }

  .today-wrapper {
    padding-left: 46px;
    padding-right: 42px;
  }
}
